.dropdown-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.5rem;
}
.triangle-white {
  position: absolute;
  border-left: 1.6rem solid transparent;
  border-right: 1.6rem solid transparent;
  border-bottom: 1.6rem solid #fff;
  font-size: 0rem;
  line-height: 0rem;
  right: 0.4rem;
  top: 2.6rem;
  transform: rotate(-315deg);
  border-radius: 0.3rem;
  background-color: var(--white);
}
.menu {
  background-color: white;
  position: absolute;
  top: 2.5rem;
  right: 0.25rem;
  padding: 0.7rem 0.6rem 0.7rem 0.625;
  border-radius: 5px;
}
.fill-user {
  width: 0.8rem;
  height: 0.9rem;
  object-fit: contain;
  background-color: #f5a623;
}
.container-user {
  display: flex;
  width: 6.9rem;
  height: 2.3rem;
  padding: 0.4rem 0.4rem 0.4rem 0.5rem;
}
.container-user:hover,
.container-user:focus,
.container-user:active {
  border-radius: 1.15rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.active {
  border-radius: 1.1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.user-name {
  font-family: 'Montserrat-Regular';
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: normal;
  margin: 0.25rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active-text {
  color: #000000 !important;
  font-weight: bold;
}

.disabled {
  color: #9b9b9b !important;
}

.container-options {
  margin: 0.3rem 0 0;
  padding: 0.7rem 0.56rem 0.3rem 0.625rem;
  border-radius: 5px;
  border-bottom: solid 0.063rem #cccccc;
}
.container-options p {
  font-family: 'Montserrat-Regular';
  font-size: 0.75rem;
  margin-bottom: 0;
}
.container-options-strong p {
  font-family: 'Montserrat-Regular';
  font-size: 0.75rem;
  margin-bottom: 0;
  font-weight: bold;
}
