.outstanding-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: 0;
  z-index: -1;
}
.outstanding-wrap {
  height: 100vh;
}
.outstanding-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 9rem 5rem;
}
.outstanding-btn {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border: #000000;
  width: 10rem;
  height: 2.5rem;
  margin: 1.2rem 1.875rem 1.56rem 0.063rem;
  padding: 0.625rem 2.4rem 0.7rem 0.75rem;
  border-radius: 1.25rem;
  background-color: #000000;
  color: #fff;
  opacity: 0.75;
  transition: transform 0.4s;
}
.outstanding-btn:focus-visible,
.outstanding-btn:focus {
  outline: none;
}
.outstanding-btn:hover {
  transform: scale(1.2);
}
.outstanding-btn p {
  font-family: 'Montserrat-Regular';
  font-size: 1rem;
  letter-spacing: normal;
  color: #fff;
  margin-left: 0.6rem;
  margin-bottom: 0rem;
}

.see-seasson {
  font-family: 'Montserrat-Regular';
  font-size: 1rem;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.see-seasson p {
  font-family: 'Montserrat-Bold';
  margin-bottom: 0.5rem;
}

.title-outstanding {
  font-family: 'RobotoSlab-Bold';
  font-size: 6.9rem;
  color: #fff;
  letter-spacing: 0;
  line-height: 5.6rem;
}

.original-liteflix {
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}

.original-liteflix span {
  font-family: 'Montserrat-Bold';
}
