.home-wrap {
  background-color: #000000;
}

.home-bg {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  /* min-height: 100vh; */
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  top: 0;
  background-color: #000000;
  opacity: 0.9;
}
