.container-progress-bar {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 7rem;
  text-align: center;
  padding: 0.875rem 1.25rem;
  border-radius: 0.625rem;
  border: solid 0.094rem #f3f3f3;
  background-color: #f3f3f3;
  border-style: dashed;
  margin: auto;
  align-items: flex-start;
}
.container-progress-bar:hover {
  cursor: pointer;
  background-color: #dcd9d9;
}
.progress-bar {
  background-color: #7ed321;
}

.title-cancel {
  font-family: 'Montserrat-Regular';
  font-weight: bold;
  font-size: 1rem;
  margin: auto;
  text-transform: uppercase;
}

.progress-bar-add {
  width: 100%;
}
.title-loading {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Montserrat-Regular';
}
