.popular-text {
  font-family: 'Montserrat-Bold';
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  z-index: 3;
  text-transform: uppercase;
}

.popular-row {
  height: 25rem;
}
