.popular-wrap {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}
.wrap-img {
  display: flex;
  width: 100%;
  margin: auto;
  height: auto;
}
.wrap-img img {
  width: 100%;
}
.popular-text {
  font-family: 'Montserrat-Bold';
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
  z-index: 3;
  text-transform: uppercase;
}
